<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lipstick_HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    
    <link rel="stylesheet" href="{{url_for('static', filename='/css/HomePage_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/Team_Card.css')}}">
    <script language="JavaScript" type="text/javascript" src="{{url_for('static', filename='/js/HomePage.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">
                <img class="logo-pic" src="{{url_for('static', filename='/image/LipGIRL.svg')}}" alt="LipG" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/check_if_login">MEMBER</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#search">Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="#band">Brand</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#team">Team</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome To Our Web!</div>
            <div class="masthead-heading text-uppercase">I Need This Lipstick !</div>
            <a class="btn btn-outline-light btn-xl text-uppercase" href="#about">Tell Me More</a>
        </div>
    </header>
    <!--About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <h3 class="section-subheading ">專櫃口紅太貴?平替口紅?<br />別人美照裡的那隻口紅到底是什麼?市面上那麼多到底哪隻才是我要的?</h3>
            </div>
        </div>
    </section>
    <!-- Search-->
    <section class="page-section" id="search">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Search</h2>
                <h3 class="section-subheading ">選定你要的口紅顏色，讓我們來幫你找到你要的那隻口紅!</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img class="search-pic" id = "text_search" src="{{url_for('static', filename='/image/s-words.png')}}" />
                    <h4 class="s-text"><a href="/text_search">文字搜尋</a></h4>
                    <p class="s-text2">將想要的品牌、色號輸入，來尋找口紅</p>
                </div>
                <div class="col-md-4">
                    <img class="search-pic" id = "pic_search" src="{{url_for('static', filename='/image/s-pic.png')}}" />
                        <h4 class="s-text"><a href="/pic_search">圖片搜尋</a></h4>
                    <p class="s-text2">將想要口紅圖片導入，來尋找口紅</p>
                </div>
                <div class="col-md-4">
                    <img class="search-pic" id = "color_search" src="{{url_for('static', filename='/image/s-pale.png')}}" />
                    <h4 class="s-text"><a href="/color_search">調色盤搜尋</a></h4>
                    <p class="s-text2">利用調色盤，選擇想要的口紅顏色</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Band-->
    <section class="page-section" id="band">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Brand</h2>
                <h3 class="section-subheading ">What do we have ?我們有的口紅</h3>
            </div>
            <div class="row">
                <h4 class="b-text text-center">專櫃</h4>
            </div>
            <!--loreal-->
            <div class="row">
                <h5 class="b-text text-center ">L'Oréal</h5>
            </div>
            <div class="row">
                {% for i in lipstick_loreal %}
                <div class="col-md-2">
                    <div class="card">
                        <form class="linkform" method="POST" onsubmit="return noReloadlink()">
                            <button href="{{i.link}}" target="_blank" class="liplink" value="{{i.pic}}">
                            <img class="card-img-top" src="{{i.pic}}"></button>
                        </form>
                        <div id="img_r"></div>
                        <div class="card-body">
                            <h6 class="card-title">{{ i.name }}</h6>
                            <p class="card-text">{{ i.color }}</p>
                            <form class="myForm" method="POST" onsubmit="return noReload()">
                                <h7 class="card-text">
                                    <button type="submit" class="btn btn-light " name="image_url" value="{{i.pic}}">
                                        <image class="like-pic" src="{{url_for('static', filename='/image/heart.png')}}" />
                                    </button>
                                    價格 : {{ i.price }}
                                </h7>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--BOBBI BROWN-->
            <div class="row">
                <h5 class="b-text text-center ">BOBBI BROWN</h5>
            </div>
            <div class="row">
                {% for i in lipstick_BOBBIBROWN %}
                <div class="col-md-2">
                    <div class="card">
                        <form class="linkform" method="POST" onsubmit="return noReloadlink()">
                            <button href="{{i.link}}" target="_blank" class="liplink" value="{{i.pic}}">
                            <img class="card-img-top" src="{{i.pic}}"></button>
                        </form>
                        <div class="card-body">

                            <h6 class="card-title">{{ i.name }}</h6>
                            <p class="card-text">{{ i.color }}</p>
                            <form clss="myForm" method="POST" onsubmit="return noReload()">
                                <h7 class="card-text">
                                    <button type="submit" class="btn btn-light " name="image_url" value="{{i.pic}}">
                                        <image class="like-pic" src="{{url_for('static', filename='/image/heart.png')}}" />
                                    </button>
                                    價格 : {{ i.price }}
                                </h7>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <div class="row">
                <h4 class="b-text text-center">開架</h4>
            </div>
            <!--1028-->
            <div class="row">
                <h5 class="b-text text-center ">1028</h5>
            </div>
            <div class="row">
                {% for i in lipstick_1028 %}
                <div class="col-md-2">
                    <div class="card">
                        <form class="linkform" method="POST" onsubmit="return noReloadlink()">
                            <button href="{{i.link}}" target="_blank" class="liplink" value="{{i.pic}}">
                            <img class="card-img-top" src="{{i.pic}}"></button>
                        </form>
                        <div class="card-body">

                            <h6 class="card-title">{{ i.name }}</h6>
                            <p class="card-text">{{ i.color }}</p>
                            <form class="myForm" method="POST" onsubmit="return noReload()">
                                <h7 class="card-text">
                                    <button type="submit" class="btn btn-light " name="image_url" value="{{i.pic}}">
                                        <image class="like-pic" src="{{url_for('static', filename='/image/heart.png')}}" />
                                    </button>
                                    價格 : {{ i.price }}
                                </h7>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--heme-->
            <div class="row">
                <h5 class="b-text text-center ">heme</h5>
            </div>
            <div class="row">
                {% for i in lipstick_heme %}
                <div class="col-md-2">
                    <div class="card">
                        <form class="linkform" method="POST" onsubmit="return noReloadlink()">
                            <button href="{{i.link}}" target="_blank" class="liplink" value="{{i.pic}}">
                                <img class="card-img-top" src="{{i.pic}}">
                            </button>
                        </form>
                        <div class="card-body">

                            <h6 class="card-title">{{ i.name }}</h6>
                            <p class="card-text">{{ i.color }}</p>
                            <form class="myForm" method="POST" onsubmit="return noReload()">
                                <h7 class="card-text">
                                    <button type="submit" class="btn btn-light " name="image_url" value="{{i.pic}}">
                                        <image class="like-pic" src="{{url_for('static', filename='/image/heart.png')}}" />
                                    </button>
                                    價格 : {{ i.price }}
                                </h7>
                            </form>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--solone-->
            <div class="row">
                <h5 class="b-text text-center ">solone</h5>
            </div>
            <div class="row">
                {% for i in lipstick_solone %}
                <div class="col-md-2">
                    <div class="card">
                        <form class="linkform" method="POST" onsubmit="return noReloadlink()">
                            <button href="{{i.link}}" target="_blank" class="liplink" value="{{i.pic}}">
                            <img class="card-img-top" src="{{i.pic}}"></button>
                        </form>
                        <div class="card-body">

                            <h6 class="card-title">{{ i.name }}</h6>
                            <p class="card-text">{{ i.color }}</p>

                            <form class="myForm" method="POST" onsubmit="return noReload()">
                                <h7 class="card-text">
                                    <button type="submit" class="btn btn-light " name="image_url" value="{{i.pic}}">
                                        <image class="like-pic" src="{{url_for('static', filename='/image/heart.png')}}" />
                                    </button>
                                    價格 : {{ i.price }}
                                </h7>
                            </form>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--I'm meme'-->
            <div class="row">
                <h5 class="b-text text-center ">I'M MEME</h5>
            </div>
            <div class="row">
                {% for i in lipstick_immeme %}
                <div class="col-md-2">
                    <div class="card">
                        <form class="linkform" method="POST" onsubmit="return noReloadlink()">
                            <button href="{{i.link}}" target="_blank" class="liplink" value="{{i.pic}}">
                            <img class="card-img-top" src="{{i.pic}}"></button>
                        </form>
                        <div class="card-body">

                            <h6 class="card-title">{{ i.name }}</h6>
                            <p class="card-text">{{ i.color }}</p>
                            <form class="myForm" method="POST" onsubmit="return noReload()">
                                <h7 class="card-text">
                                    <button type="submit" class="btn btn-light " name="image_url" value="{{i.pic}}">
                                        <image class="like-pic" src="{{url_for('static', filename='/image/heart.png')}}" />
                                    </button>
                                    價格 : {{ i.price }}
                                </h7>
                            </form>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--maybelline-->
            <div class="row">
                <h5 class="b-text text-center ">Maybelline</h5>
            </div>
            <div class="row">
                {% for i in lipstick_maybelline %}
                <div class="col-md-2">
                    <div class="card">
                        <form class="linkform" method="POST" onsubmit="return noReloadlink()">
                            <button href="{{i.link}}" target="_blank" class="liplink" value="{{i.pic}}">
                            <img class="card-img-top" src="{{i.pic}}"></button>
                        </form>
                        <div class="card-body">
                            <h6 class="card-title">{{ i.name }}</h6>
                            <p class="card-text">{{ i.color }}</p>
                            <form class="myForm" method="POST" onsubmit="return noReload()">
                                <h7 class="card-text">
                                    <button type="submit" class="btn btn-light " name="image_url" value="{{i.pic}}">
                                        <image class="like-pic" src="{{url_for('static', filename='/image/heart.png')}}" />
                                    </button>
                                    價格 : {{ i.price }}
                                </h7>
                            </form>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </section>
    <!-- Team-->
    <!-- <section class="page-section" id="team">
        <h4 class="b-text text-center">人員</h4>
        <div class = "row1">
            <div class="card">
                <div class="photo">
                    <img src="{{url_for('static', filename='/image/grape.jpg')}}">
                </div>
                <h2>謝昀彤</h2>
            </div>
            <div class="card">
                <div class="photo">
                    <img src="{{url_for('static', filename='/image/sunny.gif')}}">
                </div>
                <h2>林宸希</h2>
            </div>
            <div class="card">
                <div class="photo">
                    <img src="{{url_for('static', filename='/image/Hellena.jpg')}}">
                </div>
                <h2>郭晏涵</h2>
            </div>
            <div class="card">
                <div class="photo">
                    <img src="{{url_for('static', filename='/image/star.jpg')}}">
                </div>
                <h2>王唯欣</h2>
            </div>
        </div>
    </section> -->

</body>
</html>
